@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    margin: 0; /* Remove a margem padrão do body */
}

.home-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem; /* Reduzido o padding */
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
}
#btn-login{
 background-color: rgb(31, 27, 27);
}
.sing-in-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12rem;
}

.sing-up-text {
    color: #222121; 
    font-family: "Roboto", sans-serif;
    font-weight: 400;   
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#btn-login {
    padding: 10px;
    width: 325px;
}

#outlined-required,
#outlined-password-input {
    width: 300px;  
}

#icons-x,
#icons-instagram {
    color: #222121;
}

#icons-x:hover,
#icons-instagram:hover {
    color: #222121;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.2);
}

.sing-up-text:hover {
    color: rgb(31, 27, 27);
    cursor: pointer;
    transition: 1s;
    transform: scale(1.2);
     
}

.sing-up-text:hover{
    color:#f29aff;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.2);
    
}

